{{#article}}
    <article>
        <h1>{{name}} </h1>
        <p>{{published}} </p>
        <P>{{author_name}} </P>
        <p><img src ="/images/{{image}}"> </p>
        {{{body}}} 
    </article>
    <button>Edit</button>
{{/article}}
